#microposts

= link_to 'New Micropost', new_micropost_path

:coffeescript
  $ ->
    microposts = new Sebone.Collections.MicropostsCollection(#{@microposts.to_json.html_safe})
    microposts.each (micropost)->
      $("#microposts").append(micropost.get("content") + "<br>")

